body {
  background-color: greenyellow;
  animation-name: ozadje;
  animation-duration: 3s;
}

@keyframes ozadje {
  from {background-color: black;}
  to {background-color: greenyellow;}
}

h2 {
  text-align: center;
  color:black;
  border-bottom: 1px solid black;
}

p {
  font-size: large;
}

a.barva_linkov {
  background-color: black;
  color: white;
  font-size: 30px;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

a.barva_linkov:hover {
  background-color: black;
  animation: linki 1s infinite ease-in-out;
}

@keyframes linki {
  50% {background-color: red;}
  100% {background-color: black;}
}

.naslov {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 8px;
}

.puscice_nazaj {
  color: white;
  text-decoration: none;
}

.puscice_nazaj:hover {
  color: red;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: slika 1.5s ease-out;
}

@keyframes slika {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg);}
}


#igralnoPolje {
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
  background-color: whitesmoke;
  max-width: 600px;
  height: 600px;
  border: 20px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 8px black;
  margin-left: auto;
  margin-right: auto;
}

.rep {
  grid-column: 4;
  grid-row: 6;
  background-color: green;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: none;
}

#jabolko {
  grid-column: 14;
  grid-row: 15;
  background-color: red;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  box-shadow: none;
}